Repository and3rn3t/hack: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration, Challenge System, Game State, Narrative System, User Interface, Game Loop

feat: Add tutorial module and interactive tutorial flow for new players
  .vscode/settings.json
  CHANGELOG.md
  README.md
  docs/BETTER_FEEDBACK.md
  docs/COMMAND_HISTORY.md
  docs/INDEX.md
  docs/ROADMAP.md
  scripts/add-challenge-metadata.ps1
  scripts/batch-update-challenges.ps1
  scripts/update-challenges.ps1
  src/challenges.rs
  src/game.rs
  src/lib.rs
  src/main.rs
  src/state.rs
  src/tutorial.rs
  src/ui.rs
Due: unit, Challenge System, Game State, User Interface, Game Loop

feat: Enhance horror experience with jumpscare mechanics and tutorial improvements
  src/game.rs
  src/narrative.rs
  src/tutorial.rs
  src/ui.rs
Due: unit, Narrative System, User Interface, Game Loop

fix: implement stable input system without character doubling
  docs/ROADMAP.md
  docs/TUTORIAL_ENHANCEMENTS.md
  src/tutorial.rs
  src/ui.rs
Due: unit, User Interface

feat: add basic tab completion infrastructure
  src/challenges.rs
  src/game.rs
  src/ui.rs
Due: unit, Challenge System, User Interface, Game Loop

feat: complete tab completion system with comprehensive tests
  src/challenges.rs
  src/game.rs
  src/ui.rs
Due: unit, Challenge System, User Interface, Game Loop

docs: complete tab completion and testing infrastructure milestone
  .github/workflows/ci.yml
  docs/ROADMAP.md
  docs/TAB_COMPLETION_AND_TESTING_SUMMARY.md
Due: none

Implement configurable color theme system and performance optimizations
  docs/COLOR_THEME_IMPLEMENTATION_SUMMARY.md
  docs/QUALITY_OF_LIFE_ENHANCEMENTS_SUMMARY.md
  docs/ROADMAP.md
  docs/TAB_COMPLETION_AND_TESTING_SUMMARY.md
  src/challenges.rs
  src/game.rs
  src/narrative.rs
  src/state.rs
  src/ui.rs
  tests/color_theme_tests.rs
  tests/performance_tests.rs
  tests/save_load_tests.rs
Due: unit, Challenge System, Game State, Narrative System, User Interface, Game Loop

Refactor code structure for improved readability and maintainability
  docs/API_DOCUMENTATION.md
  docs/CHALLENGE_DESIGN_GUIDE.md
  docs/DEVELOPER_TROUBLESHOOTING.md
  docs/INDEX.md
Due: none

fix: update theme names and colors for consistency in tests
  tests/color_theme_tests.rs
Due: none

Implement Cloudflare Worker and WebAssembly integration for "The Hack: Ghost Protocol" game
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  docs/CLOUDFLARE_DEPLOYMENT.md
  src/challenges_temp.rs
  src/lib.rs
  src/state.rs
  src/ui.rs
  src/ui_native.rs
  src/web.rs
  src/worker.js
  web/static/game.js
  web/static/index.html
  wrangler.toml
Due: unit, Game State, User Interface

docs: update README and deployment guide with recent changes and fixes
  README.md
  docs/CLOUDFLARE_DEPLOYMENT.md
  web/static/game.js
  web/static/index.html
  wrangler.toml
Due: none

feat: implement achievement system and social features for enhanced gameplay experience
  web/static/game.js
Due: none

fix: improve audio initialization and sanity checks for ambient effects
  web/static/game.js
Due: none

feat: Add web testing scripts and integration tests for The Hack: Ghost Protocol
  .vscode/tasks.json
  Cargo.toml
  docs/testing/README.md
  docs/testing/WEB_TESTING_STRATEGY.md
  scripts/test-web.ps1
  scripts/test-web.sh
  tests/web_integration_tests.rs
  web/package.json
  web/playwright.config.js
  web/tests/e2e.spec.js
  web/tests/game.test.js
  web/tests/setup.js
Due: none

release: version 1.0.0 - Web deployment and major enhancements
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

deploy: update deployment config for v1.0.0 release
  src/worker.js
  wrangler.toml
Due: unit

fix: format version display in Cloudflare Worker response
  CHANGELOG.md
  src/worker.js
Due: unit

docs: add comprehensive proceeding features and improvements roadmap
  PROCEEDING_ROADMAP.md
  docs/community/ROADMAP.md
Due: none

feat: Implement memory optimizations for WASM build and add performance summary script
  Cargo.lock
  Cargo.toml.backup
  PROCEEDING_ROADMAP.md
  docs/community/ROADMAP.md
  scripts/analyze-wasm.ps1
  scripts/optimize-memory.ps1
  scripts/v1-1-0-summary.ps1
  src/challenges.rs
  src/main.rs
  src/state.rs
  src/tutorial.rs
  src/web.rs
  test_achievement_system.py
  test_osint_challenges.py
  web/static/game.js
  web/static/icons/README.md
  web/static/index.html
  web/static/manifest.json
  web/static/sw.js
Due: unit, Challenge System, Game State

Release v1.1.0
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  deployment-info.json
  scripts/deploy-production.ps1
  src/challenges.rs
  src/state.rs
  src/ui.rs
  src/ui_native.rs
  tests/web_integration_tests.rs
Due: unit, Challenge System, Game State, User Interface

Post-deployment cleanup: Add missing Color enum variants for web compatibility
  src/ui.rs
Due: unit, User Interface

Release v1.2.0: Enhanced User Experience and Advanced Features
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/MIGRATION_V1_2_0.md
  docs/PROCEEDING_ROADMAP.md
  docs/V1_2_0_SUMMARY.md
  src/challenges.rs
  src/game.rs
  src/state.rs
  src/ui.rs
Due: unit, Challenge System, Game State, User Interface, Game Loop

Fix compilation errors in v1.2.0 UI functions
  docs/DEPLOYMENT_V1_2_0.md
  src/challenges.rs
  src/game.rs
  src/ui.rs
Due: unit, Challenge System, User Interface, Game Loop

refactor: Clean up whitespace and improve formatting in challenge and UI modules
  src/challenges.rs
  src/ui.rs
Due: unit, Challenge System, User Interface

feat: Add 5 new OSINT challenges to Level 2, enhancing educational content and gameplay
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/OSINT_CHALLENGES_SUMMARY.md
  docs/user-guides/OSINT_CHALLENGE_GUIDE.md
  src/challenges.rs
  src/game.rs
  src/narrative.rs
  src/ui.rs
Due: unit, Challenge System, Narrative System, User Interface, Game Loop

Release v1.5.0: Content Expansion with 12 New Challenges
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/V1_5_0_PLANNING.md
  examples/count_challenges.rs
  src/challenges.rs
Due: unit, Challenge System

Fix WASM build: Resolve function pointer serialization
  src/challenges.rs
Due: unit, Challenge System

chore: Format and update configuration for v1.5.0
  .cargo/config.toml
  CHANGELOG.md
  examples/count_challenges.rs
Due: none

deploy: Update wrangler.toml for v1.5.0 production deployment
  wrangler.toml
Due: none

feat: v1.6.0 UI/UX enhancements - enhanced loading screen and mobile optimizations
  docs/V1_6_0_PLANNING.md
  web/static/game.js
  web/static/index.html
Due: none

feat: implement branching narrative system (v1.6.0) - player choices that matter
  src/narrative.rs
  src/state.rs
  web/static/game.js
  web/static/index.html
Due: unit, Game State, Narrative System

Add GitHub workflows and project governance
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/actionlint.yml
  .github/workflows/consistency.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gitleaks.yml
  .github/workflows/label-sync.yml
  .github/workflows/labeler.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release-drafter.yml
  .github/workflows/stale.yml
  CODE_OF_CONDUCT.md
  LICENSE
Due: none

Remove temporary test and backup files
  Cargo.toml.backup
  test_js_syntax.html
  test_terminal_fixes.html
Due: none

fix(ci): grant required permissions to reusable-workflow callers
  .github/workflows/actionlint.yml
  .github/workflows/consistency.yml
  .github/workflows/gitleaks.yml
  .github/workflows/stale.yml
Due: none

ci: pin and3rn3t/.github reusable workflow callers to @v1
  .github/workflows/actionlint.yml
  .github/workflows/consistency.yml
  .github/workflows/dependency-review.yml
  .github/workflows/gitleaks.yml
  .github/workflows/lighthouse.yml
  .github/workflows/stale.yml
Due: none

chore(renovate): collapse to shared and3rn3t/.github renovate preset
  renovate.json
Due: none

ci: dedupe release-drafter.yml to and3rn3t/.github reusable workflow
  .github/workflows/release-drafter.yml
Due: none

chore: disable Renovate on inactive repo
  renovate.json
Due: none

Path conditions:
  unit: any of: src/, but not: benches/**/*, fuzz/**/*, tests/**/*, examples/**/*, target/**/*
  integration: any of: tests/, but not: benches/**/*, fuzz/**/*, tests/**/*, examples/**/*, target/**/*
  Challenge System: any of: src/challenges.rs, but not: benches/**/*, fuzz/**/*, tests/**/*, examples/**/*, target/**/*
  Game State: any of: src/state.rs, but not: benches/**/*, fuzz/**/*, tests/**/*, examples/**/*, target/**/*
  Narrative System: any of: src/narrative.rs, but not: benches/**/*, fuzz/**/*, tests/**/*, examples/**/*, target/**/*
  User Interface: any of: src/ui.rs, but not: benches/**/*, fuzz/**/*, tests/**/*, examples/**/*, target/**/*
  Game Loop: any of: src/game.rs, but not: benches/**/*, fuzz/**/*, tests/**/*, examples/**/*, target/**/*
